@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
  --color-acc: rgba(150, 180, 240);
  --color-acc-faded: rgba(150, 180, 240, 0.8);
  //--color-bg: rgb(41, 43, 61);
  --color-dark: #242424;
  --color-gray1: #464646;
  --color-gray2: #6b6b6b;
  --color-light: #D9D9D9;

  --color-bg2: rgba(50, 60, 80);
  --color-hd-ft: rgb(28, 32, 47);

  --color-acc1: rgb(112, 155, 149);
  --color-acc2: rgb(240, 138, 93);
  --color-acc3: rgb(184, 59, 94);
  --color-acc4: rgb(217, 217, 217);

  --color-gold: #e8af4b;
  --color-split1: #0FD4CD;
  --color-split2: rgb(214, 191, 129);

}

html,body,#root {
  height: 100vh;
  width: 100vw;
  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  font-family: 'Russo One', sans-serif;
  margin: 0;
  box-sizing: border-box;
  //overflow: hidden;
  background-color: var(--color-dark);

  // parent must be positioned relatively (not initial)
  @mixin center-with-margin{ 
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  @mixin vstack {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: start;
  }
  @mixin hstack {
    display: flex;
    flex-direction: row;
    justify-content: safe center;
    align-items: center;
  }
  @mixin view {
    width: 100%;
    height: 100%;
    overflow: scroll;
    min-width: 333px;
    font-family: inherit;
    padding: 0.2cm;
    padding-bottom: 3cm;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    position: relative
  }
  @mixin grid {
    @include max-width-30-cm();
    display: grid;
    width: 100%;
    gap: .5em;
    justify-items: center;
    align-items: center;
  }
  @mixin max-width-30-cm{
    max-width: 30cm;
  }

  .login-block, .register-block {
    @include vstack();
    align-items: center;
  }
  .hstack {@include hstack()}
  .vstack {@include vstack()}

  button {
    &.big{
      min-width: 2cm;
      padding: 8px;
    }
    padding: .1cm;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: inherit;
    background-color: var(--color-light);
    fill: var(--color-light);
    color: var(--color-dark);
    width: fit-content;
    border-radius: .15cm;
    cursor: pointer;

    div,p,h1,h2,h3,h4,h5,h6 {
      color: var(--color-dark);
    }
  }
  input[type="text"]{
    &:focus{outline: solid 2px var(--color-split1); outline-offset: 2px}
  }


  input, select{
    @include max-width-30-cm();
    border: solid var(--color-gray2);
    font-family: inherit;
    text-align: center;
    background: var(--color-gray1);
    color: var(--color-light);
    fill: var(--color-dark);
    padding: 4px !important;
    border-radius: 8px;
    box-sizing: border-box;
  }
  input[type='checkbox']{
    cursor: pointer;
    background: pink;
  }
  input[type='checkbox']:hover{
    width: 1cm;
  }

  div,p,h1,h2,h3,h4,h5,h6 {
    color: var(--color-light);
  }
  .hstack {
    @include hstack();
  }

  

  .ViewLogin,
  .ViewRegister {
    @include view();
    //@include center-with-margin();
    align-items: safe center;
    justify-content: safe center;

    padding-bottom: 0.2cm;
    box-sizing: border-box;
    .accent{
      font-size: 2em;
    }
    .log,.reg{
      color: var(--color-split1);
    }
    .in, .ister{
      color: var(--color-split2);
    }
    a{
      color: hsla(0%,0,100,50%);
    }
    img{
      margin-bottom: 1.5cm;
      border-radius: 15px
    }
  }



  .Header {
    @include vstack();
    // position: sticky;
    // top: 0;
    box-sizing: border-box;
    // border-radius: 0px 0px 8px 8px;
    width: 100%;
    flex-grow: 0;
    justify-content: space-evenly;

    .header-content-container {
      @include hstack();
      color: white;
      fill: white;
      background: var(--color-dark);
      padding: 8px;
      box-sizing: border-box;
      // border-radius: 8px;
      width: 100%;
      justify-content: space-evenly;
    }
  }

  .controls {
    @include hstack();
    border: 2px solid var(--color-dark);
    box-sizing: border-box;
    width: 100%;
    max-width: 6cm;
    min-width: fit-content;
    padding: .15cm;
    background: var(--color-light);
    border-radius: 8px 8px 8px 8px;
    justify-content: space-evenly;
    align-items: center;
    label {
      color: var(--color-dark);
      cursor: pointer;
    }
    button, label {
      @include hstack();
      box-sizing: border-box;
      border: 0;
      background: var(--color-light);
      transition: .3s;
      width: 100%;
      &:hover{
        filter: brightness(85%);
      }
      &:active{
        filter: brightness(50%);
      }
    }

    &.view-actions{
      width: fit-content;
      position: fixed;
      bottom: 0;
      @media (orientation: portrait) {
        right: 0;
        @include vstack();
      }
      @media (orientation: landscape) {
        width: 100%;
        max-width: 6cm;
        @include hstack()
      }


      margin: 2cm .5cm;
      button{
        box-sizing:border-box;
      }
    }
    &.view-navigation {
      position: fixed;
      margin: .5cm;
      bottom: 0;
      button{
        margin: 0 .1cm;
        box-sizing: border-box;
      }

      button.active{
        background: var(--color-dark);
        fill: var(--color-light);
        color: var(--color-light);
        img.icon{
          filter: invert(1);
        }
        scale: 1.1;
        transition: .3s;
        
      }
    }
  }

  .nAV {
    @include vstack();
    @include center-with-margin();
    width: fit-content;
    min-width: 6cm;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    color: white;
    fill: white;
    align-items: center;
    align-self: center;

    
  }

  



  .picture {
    width: 4em;
    height: 4em;
    flex-shrink: 0;
    border-radius: 100%;
  }
  .tile-container {
    padding: 8px;
  }
  .spacer-default {
    width: .3cm;
    height: .3cm;
  }

  .ViewQuestionList{
    @include view();
  }
  .ViewQuestionEdit{
    
    position: relative;
    button.add-question {
      @include center-with-margin();
      position: absolute;
    }
  }
  .ViewQuestionList, .ViewQuestionEdit{
    .grid-questionList, .grid-choicesList{
      @include grid();
      max-width: 12cm;
      // @include view();
      flex-shrink: 0;
      
      grid-template-columns: repeat(auto-fill, minmax(1fr,1fr));
      .hstack{
        width: 100%
      }

      .question {
        width: 100%;
        display: grid;
        grid-template-columns: 1.5cm 1fr 1.5cm;
        align-items: center;
        justify-items: center;

        .index{
          color: var(--color-dark);
          z-index: 1;
          grid-row: 1 / 2;
          grid-column: 1 / 2;
        }
      }
      .choices{
        position: relative;
        width: 100%;
        box-sizing: border-box;
        height: 8cm;
        overflow: scroll;
        padding: .5cm;
        border-radius: .2cm;
        background: var(--color-gray2);
        transition: .5s;
        .choice{
          display: grid;
          align-items: center;
          justify-items: center;
          width: 100%;
          transition: .3s;
          height: 1cm;
          overflow: hidden;

          input[type='checkbox']{
            width: 100%;
            height: 100%;
          }
          
          grid-template-columns: 1.5cm 3fr 1.5cm;
          .choice-text{
            @include hstack();
            width: 100%;
            height: fit-content;
            transition: .3s;
            &.correct{
              background-color: var(--color-acc1);
              transition: .3s;
            }
          }
        }
        &.hidden{
          transition: .5s;
          //display: none;
          height: 0cm;
          padding: 0;
          overflow: hidden
        }
      }
    }
  }

  .App {
    @include vstack();
    width: 100vw;
    height: 100vh;
    font-family: inherit;
    margin-bottom: auto;
    box-sizing: border-box;
    overflow: scroll;
    align-items: center;

    body{
      @include hstack();
      width: 100%;
    }

    .dropdown{
      position: relative;
      cursor: pointer;
      .content{
        @include vstack();
        display: none;
        position: absolute;
        right: 0;
      }
      &:hover .content{
        display: flex;
      }
    }

    .ViewLibrary {
      @include view();
      @include vstack();
      align-items: center;

      .dropdown{
        position: absolute;
        right: .5cm;
        bottom: .5cm;
        color: var(--color-dark);
        padding: .2cm;
      }

      .grid-tile-container {
        @include grid();
        @include max-width-30-cm();

        grid-template-columns: repeat(auto-fill, minmax(6cm, 1fr));

        //!
        .tile{
          @include hstack();
          height: 3cm;
          position: relative;
          .quiz-button{
            height: 100%;
          }
        }
      }
    }
  }
  .ViewProfile, .ViewJoin{
    @include view();
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center
  }
  
  .Play {
    @include vstack();
    width: 100vw;
    height: 100vh;
    font-family: inherit;
    margin-bottom: auto;
    box-sizing: border-box;
    overflow: scroll;
    align-items: start;  
  
    color-scheme: light dark;
    color: #D6BF81;
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.bg-image{
      background-position: 'center';
      background-size: 'cover';
      background-repeat: 'no-repeat';
      &.dark{
        background-image: url('./assets/bg_b.png');
      }
      &.light{
        background-image: url('./assets/bg_w.png');
      }
    }


    .timer{
      text-align: center !important;
      box-sizing: border-box;
      line-height: 1em;
      padding: .1em;
      border-radius: 5px;
      font-size: 2em;
      width: 100%;
      height: fit-content;
      &.b{
        background-color: #D9D9D9;
        color: #242424;
      }
      &.w{
        background-color: #242424;
        color: #D9D9D9;
      }
      &.horizontal{
        text-align: start !important;
        writing-mode: vertical-rl;
        rotate: 180deg;
        width: fit-content;
        height: 100%;
        margin-right: .5cm;
      }
    }
    .connected-counter{
      width: 100%;
      text-align: center;
      box-sizing: border-box;
      padding: .1cm;
    }

    .display-connected{
      @include hstack();
      box-sizing: border-box;
      padding: .1cm;
      overflow: scroll;
      width: 100%;
      height: fit-content;
      flex-shrink: 0;
    }
    
    .game-layout {
      box-sizing: border-box;
      width:100%;
      height:80%;
      &.vertical{
        @include vstack();
        justify-content: center;
        height:80%;
      }
      &.horizontal{
        @include hstack();
      }
    }

    .game_geometry {
      @include vstack();
      @mixin dynamic-font{
        font-size: max( 1.5em, min(2.5vw, 3em)) ;
      }
      width: 100%;
      height: 100%;
      justify-content: center;
      border-radius: 5px;
      position: relative;
      .head{
        @include hstack();
        width: 100%;
        height: 20%;
        .question_title {
          @include dynamic-font();
          @include vstack();
          overflow: scroll;
          word-break:keep-all;
          flex-grow: 1;
          box-sizing: border-box;
          color: var(--color-light);
          vertical-align: start;
          text-align: start;
          height: 100%;
          justify-content: center;
          line-height: 1em;
          padding: .2cm;
          
        }
        .question_numbers{
          @include dynamic-font();
          align-self: flex-end;
          padding: .2cm;
          line-height: 1em;
          text-align: end;
          color: var(--color-light);
        }
      }

      .body{
        @include vstack();
        height: 80%;
        justify-content: center;
        .question {
          height: fit-content;
          width: 100%;
          box-sizing: border-box;
          background-color: #242424;
          color: #d68b81;
          border-radius: 5px;
          display: grid;
          grid-template-columns: 1fr;
          &.wide{
            grid-template-columns:  repeat(2, 1fr);
            height: 100%;
          }
          gap: .5cm;
          align-items: center;
          padding: 15px;
        }
        .answer {
          @include dynamic-font();
          word-break: break-all;
          overflow: scroll;
          padding: .5cm;
          box-sizing: border-box;
          color: #242424;
          &.wide{
            height: 100%;
          }
          width: 100%;
          border-radius: 5px;
          display: flex;
          justify-content: start;
          align-items: center;
          position: relative;
        }
      }

      .user-scores{
        @include grid();
        min-width: 8cm;
        //grid-template-columns: repeat(auto-fit, minmax(5cm,1fr));
        grid-template-columns: 1fr;
        align-self: center;
        column-gap: 2cm;
        //margin: .5em;
        .user-score{
          @include grid();
          grid-template-columns: 2cm 1fr 2cm;
          max-width: 16cm;
          @mixin tile{
            box-sizing: border-box;
            color: var(--color-dark);
            background-color: #B0B0B0;
            padding: .2cm;
            width: 100%;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
          }
          .index {
            @include tile();
          }
          .name {
            @include tile();
          }
          .score {
            @include tile();
          }
          .first{
            background-color: var(--color-gold);
          }
        }
      }
      
      .action-buttons {
        @include hstack();
        justify-content: end;
        padding: .5cm;
        button{
          margin-left: 1cm;
        }
      }

    }
    .user_card {
      box-sizing: border-box;
      background-color: #5c5c5c;
      border-radius: 5px;
      padding: .1cm;
      margin: 0 .2cm;

    }
    .room_id{
      color: #709B95;
      font-size: max( 3em, 12vw);
      text-align: center;
    }    
    .room_helptext{
      opacity: 20%;
      font-size: max( 1em, 4vw);
      text-align: center;
    }
    
    .start_button{
      @include center-with-margin();
      margin-top: 1cm;
    }
    

    .question_next_btn{
      color: #242424 !important;
      border-color: #242424;
      
    } 
    
    .letter {
      color: var(--color-dark);
      position: absolute;
      top: 0;
      right: 0;
      padding: .2cm;
      line-height: 1em;
    }
    
    .logo_down{
      margin: 0.2cm auto;

      background-color: #242424;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 1.7em;
      .rubil{
        color: var(--color-split1);
      }
      .nik{
        color: var(--color-split2);
      }
    }
  }
}