:root{
  --def-gap: .3cm;
  --def-transition: .3s;
  --def-border-radius: 14px;
  
  --choice-1-color: #709B95;
  --choice-2-color: #F08A5D;
  --choice-3-color: #B83B5E;
  --choice-4-color: #D9D9D9;
  
  --choice-wrong-1-color: #4A605D;
  --choice-wrong-1-color: #8A5741;
  --choice-wrong-1-color: #6E3041;
  --choice-wrong-1-color: #7F7F7F;
}

@mixin vstack {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: start;
}
@mixin hstack {
  display: flex;
  flex-direction: row;
  justify-content: safe center;
  align-items: center;
}
@mixin view {
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 333px;
  font-family: inherit;
  padding: var(--def-gap);
  padding-bottom: 2cm;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  position: relative
}

@mixin grid {
  display: grid;
  width: 100%;
  padding: var(--def-gap);
  gap: var(--def-gap);
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
}

@mixin view {
  width: 100%;
  height: 100%;
  overflow: scroll;
  min-width: 333px;
  font-family: inherit;
  padding: 0.2cm;
  padding-bottom: 3cm;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  position: relative
}
@mixin scrollbar-hidden{
  ::-webkit-scrollbar {display: none;} /* Hide scrollbar for Chrome, Safari and Opera */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
@mixin scrollbar-visible{
  ::-webkit-scrollbar{display: block;} /*Chrome, Safari and Opera*/
  -ms-overflow-style: auto;  /* IE and Edge */
  scrollbar-width: thin;  /* Firefox */
}

hstack {
  @include hstack();
}
vstack {
  @include vstack();
}
body,#root {
  @include scrollbar-hidden();
  width: 100%;
  font-family: 'Russo One', sans-serif;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--color-dark);
}




.App{
  @include scrollbar-hidden();
  box-sizing: border-box;
  header{
    text-align: center;
  }
  .Navigation{
    display: flex;
    justify-content: safe center;
    position: fixed;
    bottom: 3svh;
    left: 0;
    right: 0;
  }
}

.Actions{
  @media (orientation: landscape) {
    @include hstack();
    position: fixed;
    left: 0;
    right: 0;
    bottom: 3svh;
  }
  @media (orientation: portrait) {
    @include vstack();
    position: fixed;
    right: 3svh;
    bottom: 3svh;
  }
}

.ViewLogin,
.ViewRegister {
  @include view();
  height: 100vh;
  align-items: safe center;
  justify-content: safe center;
  padding-bottom: 0.2cm;
  box-sizing: border-box;
  .accent{
    font-size: 2em;
  }
  .log,.reg{
    color: var(--color-split1);
  }
  .in, .ister{
    color: var(--color-split2);
  }
}

.ViewLibrary{
  @include view();
  .QuizTile{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    background: pink;
    width: 100%;
    height: 3cm;
    position: relative;
    .quiz-button{
      height: 100%;
      flex-grow:1;
    }
  }
  .grid{
    @include grid();
    padding: 0;
    margin: var(--def-gap) 0;
    grid-template-columns: repeat(auto-fill, minmax(6cm,1fr));
    grid-auto-rows: 3cm;
  }
}


.ViewSelf, .ViewJoin{
  input{text-align: center;}
}
.ViewSelf{
  @include view();
}

.ViewJoin{
  @include view();
  height: 100vh;
  .form{
    @include grid();
    width: fit-content;
    vstack{
      width: 100%;
    }
  }
}

.ViewQuizEdit{
  @include view();
  div,input{text-align: center;}
  input {width: 100%;}
  .grid{
    @include grid();
    max-width: 20cm;
    grid-template-columns: 1fr;
    div.question,.choice{
      @include grid();
      padding: 0;
      grid-template-columns: 1fr 5fr 1fr;
      button.question{
        grid-area: 2/1/3/4;
        width: 100%;
        z-index: 0;
      }
    }
    .choices{
      @include scrollbar-hidden();
      width: 100%;
      position: relative;
      height: 0;
      overflow: scroll;
      transition: var(--def-transition);
      &.focus{
        height: 3.5cm;
        box-sizing: border-box;
      }
      .grid{
        @include grid();
        padding: 0;
        grid-template-columns: 1fr;
      }
    }
  }
}


.Play{
}

.ViewQuestion{
  @include view();
  *{max-width: 20cm;}
  .head{
    width: 100%;
    progress{
      width: 100%;
      height: 1cm;
    }
  }
  .body{
    width: 100%;
    .choices{
      @include grid();
      @media (orientation: landscape){grid-template-columns: 1fr 1fr}
      @media (orientation: portrait){}

      .choice{
        padding: var(--def-gap);
        width: 100%;
        @media (orientation: landscape){}
        @media (orientation: portrait){}

        &._0{
          // background: var(--choice-1-color);
          // &.revealed { 
          //   background: var(--choice-wrong-1-color);
          //   &.correct { background: var(--choice-1-color); }
          // }
        }
        &._1{
          // background: var(--choice-2-color);
          // &.revealed { 
          //   background: var(--choice-wrong-2-color);
          //   &.correct { background: var(--choice-2-color); }
          // }
        }
        &._2{
          // background: var(--choice-3-color);
          // &.revealed { 
          //   background: var(--choice-wrong-3-color);
          //   &.correct { background: var(--choice-3-color); }
          // }
        }
        &._3{
          // background: var(--choice-4-color);
          // &.revealed { 
          //   background: var(--choice-wrong-4-color);
          //   &.correct { background: var(--choice-4-color); }
          // }
        }
      }
    }
  }
}
.ViewLobby{
  @include view();
  #qr-container {
    @include hstack();
    width: 150px;
    height: 150px;
    border-radius: var(--def-border-radius);
    background: pink;
  }
}
.ViewResult{
  @include view();
  .scores{
    @include grid();
    padding: 0;
    max-width: 30cm;
    .entry{
      @include grid();
      grid-template-columns: 1fr 5fr 1fr;
    }
  }
}